<main>
    <div class="content-main">
        <div class="namecontainer">
            <div>
                <p>Frontend Developer</p>
            </div>
            <div>
                <span>Kadir Demir</span>
            </div>
            <div class="btncontainer">
                <button class="homebtn">Check my Work</button>
                <button class="homebtn">Contact Me</button>
            </div>
        </div>
        <div class="marquee">
            <div class="marquee-content">
                <span>Available for remote work</span>
                <span>Frontend Developer</span>
                <span>Based in Berlin</span>
                <span>Open to work</span>
                <span>Open to new opportunities</span>
                <!-- Inhalte duplizieren -->
                <span>Available for remote work</span>
                <span>Frontend Developer</span>
                <span>Based in Berlin</span>
                <span>Open to work</span>
                <span>Open to new opportunities</span>
            </div>
        </div>
    </div>
</main>