.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 5rem;

    img{
        cursor: pointer;
    }

    a{
        text-decoration: none;
        color: white;
        font-family: "Fira Code";
        font-size: 20px;
    }
}