<div class="contactpage">
    <div class="contactcontainer">
        <div class="contacttext">
            <h1>Contact me</h1>
            <h2>Let´s work together</h2>
            <h3>Got a problem to solve?</h3>
            <p>
                Contact me through this form, I am interested in hearing from you, knowing<br> your ideas and
                contributing
                to your projects with my work.<br><br>
                Need Fronend developer? <span>Let´s talk!</span>
            </p>
        </div>

    </div>

    <div class="contactform">
        <form>
            <div class="form-group">
                <label for="name">What's your name?</label>
                <input type="text" id="name" placeholder="Your name goes here" />
            </div>
            <div class="form-group">
                <label for="email">What's your email?</label>
                <input type="email" id="email" placeholder="youremail@email.com" />
            </div>
            <div class="form-group-message">
                <label for="message">How can I help you?</label>
                <textarea id="message" placeholder="Enter a message..."></textarea>
            </div>
            <div class="form-group-checkbox">
                <input type="checkbox" id="privacy-policy" />
                <div class="custom-checkbox">
                    <input type="checkbox" id="checkbox" />
                    <label for="checkbox">
                      <img src="../../assets/img/contactimg/checkbox.svg" class="unchecked" alt="Unchecked" />
                      <img src="../../assets/img/contactimg/checkedbox.svg" class="checked" alt="Checked" />
                    </label>
                  </div>
                <label for="privacy-policy">
                    I've read the <a href="#">privacy policy</a> and agree to the processing of my data as outlined.
                </label>
            </div>
            <!-- <p class="error-message">Please accept the privacy policy.</p> -->
            <button type="submit">Say hello :)</button>
        </form>
    </div>
</div>